.popup{
    background-color: rgba(0, 0, 0, .5);
    visibility: hidden;
    justify-content: center;
    width: 100%;
    position: fixed;
    height: 100%;
    top: 0;
    display: none;
}

.popup_opened{
    visibility: visible;
    display: flex;
    opacity: 1;
    transition: 
        opacity 2s,
        visibility 3s;
}

.popup_type_authorisation{
    width: 100%;
}

.popup__container{
    align-self: center;
    margin: auto;
    position: relative;
}

.popup__close-button{
    width: 40px;
    height: 40px;
    position: absolute;
    top: -40px;
    right: -40px;
    background-image: url(../../images/CloseIcon.svg);
    padding: 0;
    background-color: transparent;
    border: none;
    background-size: auto;
    background-position: center;
    cursor: pointer;
    outline: none;
}

.popup__close-button:hover{
    opacity: 0.6;
    transition: opacity .3s;
}

.form__error-image{
    margin-bottom: 32px;
    margin-top: 26px;
}

.form__error{
    display: flex;
    width: 430px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    padding-top: 34px;
    
}

.form__field-text{
    width: 358px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    height: 27px;
    padding: 0;
    margin-bottom: 43px;
    outline: none;
}
.form__input-text{
    width: 358px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    height: 27px;
    padding: 0;
    margin-bottom: 43px;
    outline: none;
}
.form__error-text{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: auto;
    margin-bottom: 54px;
    align-self: flex-start;
    max-width: 358px;
    text-align: center;
}



.form__error-button{
    background-color: black;
    width: 358px;
    height: 50px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 37px;
    border: none;
}

.form__error-button:hover{
    cursor: pointer;
    opacity: 0.8;
    transition: opacity .3s;
}

.inactive{
    opacity: 0.2;
}

.form__save-button_inactive:hover{
    opacity: 0.2;
}

@media (max-width: 470px){
    .form__save-button{
        max-width: 238px;
        font-size: 14px;
        line-height: 17px;
        margin-top: 15px;
    }
}

@media (max-width: 470px){
    .form__field-text{
        font-size: 14px;
        line-height: 17px;
        max-width: 238px;
        margin-bottom: 30px;
    }
}

@media (max-width: 470px){
    .form__error-text{
        margin-left: 22px;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 75px;
    }
}


@media (max-width: 470px){
    .form{
        width: 282px;
        padding-top: 25px;
    }
}


@media (max-width: 470px){
    .popup__close-button{
        margin-right: 0;
        width: 26px;
        height: 26px;
        top: -39px;
        right: 0;
    }
}

